# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environment
.env
.venv/
venv/
ENV/

# Django
staticfiles/
media/
local_settings.py

# Environment variables
.env.*
!.env.example

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


